name: CI

on:
  push:
    branches:
      - master
      - develop
      - hotfix/**
      - feature/**
      - renovate/**
    paths:
      - .github/workflows/ci.yaml
      - themes/**

jobs:
  deploy-pages:
    name: Deploy Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: yarn install --network-timeout 86400000
      - name: Unit Tests
        run: ./scripts/test.sh
      - name: Build Production
        run: ./scripts/build.sh
      - name: Export Static
        run: ./scripts/export.sh
